html {
    height: 100%;
    width: 100%;
    z-index: -99999;
    
  }


.drag-file {
    height: 100%;
    width: 100%;
    top: 19vh;
    background-color: black;
    color:white;
    text-align: center;
    overflow: hidden;
    position: fixed;
}

.btn-secondary{
    position: fixed;
    left: 2vw;
    bottom:10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}


.hidden {
    display: none;
    /* make an hidden attribute for the buttons
     */
}

.input-group {
    position: fixed;
    left: 2vw;
    bottom:2vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.text{
position: fixed;
right:0;
left:0;
top:28vh;

}