body{
    background: black;
    color:white;
    text-align: center;
}


.left{
    position: fixed;
    left: 2vw;
    bottom:2vh;
    width: 40vw;
    
}

.right{
    position: fixed;
    right: 2vw;
    bottom:2vh;
    width: 40vw;
    
}

.text{
    position: fixed;
    top: 36vh;
    left:15vw;
}
