

body{
    background: black;
    color:white;
    text-align: center;
    overflow:hidden;
}

.down2{
    position: fixed;
    left: 42vw;
    top: 82vh;
    
} 


.text2{
    position: fixed;
    bottom: 50vh;
    left:0vw;
    right:0vw;
}


.important {

    color: rgb(255, 255, 0);
    font-weight: bold;

    

}


.orderedList2{
    position: fixed;
    bottom: 29vh;
    left:0vw;
    text-align: left;

} 

.circleSpiner2{

    position: absolute;
    bottom: 2vh;
    right:42vw;


}

.progressLocation2{

    position: fixed; 
    top: 89vh; 
    right: 0vw;
    width: 100vw;
 
} 

.spinner2{
    width: 10rem; 
    height: 10rem;
    
    z-index: 99;
    color: white;

    
}

.awesome {
      
    
    color:#313131;
    font-size:45px;

    -webkit-animation:colorchange 5s infinite alternate;
    
    
  }


@-webkit-keyframes colorchange {
	
    0% { color: rgb(255,255,255); }
    3% { color: rgb(272,272,272); }
    6% { color: rgb(289,289,289); }
    9% { color: rgb(272,272,272); }
    12% { color: rgb(255,255,255); }
    15% { color: rgb(238,238,238); }
    18% { color: rgb(221,221,221); }
    20% { color: rgb(204,204,204); }
    23% { color: rgb(187,187,187); }
    26% { color: rgb(170,170,170); }
    29% { color: rgb(153,153,153); }
    32% { color: rgb(136,136,136); }
    35% { color: rgb(119,119,119); }
    38% { color: rgb(102,102,102); }
    40% { color: rgb(85,85,85); }
    43% { color: rgb(68,68,68); }
    46% { color: rgb(51,51,51); }
    49% { color: rgb(34,34,34); }
    52% { color: rgb(17,17,17); }
    55% { color: rgb(0,0,0); }
    57% { color: rgb(0,0,0); }
    60% { color: rgb(17,17,17); }
    63% { color: rgb(34,34,34); }
    66% { color: rgb(51,51,51); }
    69% { color: rgb(68,68,68); }
    72% { color: rgb(85,85,85); }
    75% { color: rgb(102,102,102); }
    77% { color: rgb(119,119,119); }
    80% { color: rgb(136,136,136); }
    83% { color: rgb(153,153,153); }
    86% { color: rgb(170,170,170); }
    89% { color: rgb(187,187,187); }
    92% { color: rgb(204,204,204); }
    95% { color: rgb(221,221,221); }
    97% { color: rgb(238,238,238); }
    100% { color: rgb(255,255,255); }


}


.TopProgressLeft{
  position: fixed;
  bottom: 11vh;
  left: 1vw;
  text-align: left;

}

.TopProgressRight{
  position: fixed;
  bottom: 11vh;
  right: 1vw;
  text-align: right;


}


.BottomProgressRight{
  position: fixed;
  bottom: 5vh;
  right: 1vw;
  text-align: right;

}







