body{
    background: black;
    color:white;
    text-align: center;
}


.left{
    position: fixed;
    left: 2vw;
    bottom:2vh;
    width: 40vw;
    
}

.right{
    position: fixed;
    right: 2vw;
    bottom:2vh;
    width: 40vw;
    
}

.text{
    position: fixed;
    top: 19vh;
    left:0;
    right:0;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}


.hidden {
    display: none;
    /* make an hidden attribute for the buttons
     */
}

