.spinner{
    width: 10rem; 
    height: 10rem;
    
    position: fixed;
    top: 5vh;
    right: 42vw;
    z-index: 99;
    color: white;

    /* changes are bellow */
    /* background-color: black; */
    
}

.down{
    top: 12vh;
}