body{
    background: black;
    color:white;
    text-align: center;
}

img{
    width: 50vw;
    height: auto;
    position: fixed;
    top: 15vh;
    right: 25vw;
    z-index: 99;
    opacity:0.1;
}

.input-group{
    position: fixed;
    right: 2vw;
    width: 40vw;
    bottom: 0vw;

}

.left{
    position: fixed;
    left: 2vw;
    bottom:2.4vh;
    width: 40vw;
    
}


.text{
    position: fixed;
    top: 41vh;
    left:0vw;
    right:0vw;
}

.hidden {
    display: none;
    /* make an hidden attribute for the buttons
     */
}



